* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(95, 76, 114);
}

.form-container {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 10px auto;
  border: 6px solid black;
  border-radius: 40px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px 10px 30px 10px;
  font-size: 13px;
  position: relative;
  overflow-x: hidden;
}

.form-image {
  margin: 10px 0;
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fitmap {
  margin-top: 30px;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 10px;
  gap: 10px;
}

.form-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.form-text {
  font-weight: 500;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-field {
  padding: 10px 5px;
  width: 250px;
  outline: none;
  border-radius: 10px;
  border: 2px solid grey;
}

.signup-btn {
  margin-top: 10px;
}

.sign-up {
  text-decoration: none;
  color: white;
  padding: 8px 40px;
  border-radius: 500px;
  outline: none;
  border: none;
  background-color: rgb(43, 8, 168);
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.already-have-an-acc {
  margin-top: 10px;
  font-size: 13px;
}

.terms-section {
  font-size: 13px;
  margin-top: 10px;
}

.sign-up-with {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.links {
  margin: 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.suw-btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 8px;
  padding-left: 28px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  font-size: 11px;
}

#google {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  cursor: pointer;
}

#apple-logo {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 30px;
  cursor: pointer;
}

#apple {
  padding: 10px 13px;
  padding-left: 30px;
}

.errors {
  font-size: 9px;
  color: red;
}

.modal-container {
  width: 200px;
  height: 200px;
  border: 2px solid green;
  position: absolute;
  background-color: wheat;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

#password-container {
  position: relative;
}

#show-password-icon {
  width: 25px;
  position: absolute;
  left: 88%;
  top: 45%;
  cursor: pointer;
}
