* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(95, 76, 114);
}

.container {
  width: 300px;
  height: 600px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 10px auto;
  position: relative;
  background-color: rgba(152, 110, 207, 0.418);
  position: relative;
}

.top-section {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-image: url('../trueAssets/IMG-20250923-WA0067.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom-section {
  border-radius: 30px;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin-top: -30px;
}

.text-content {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.email-container {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

input {
  width: 30px;
  height: 30px;
}

.another-text-content {
  margin-top: 10px;
}

.verify-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.verify-code {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.verify {
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 30px;
  border: none;
  background-color: rgb(35, 36, 110);
  color: white;
  cursor: pointer;
}

.verify-code-text {
  display: none;
}

.verify-code-text.active {
  display: block;
}

.resend-code-text {
  display: none;
}

.resend-code-text.active {
  display: block;
}

.show-modal {
  display: none;
  width: 200px;
  height: 100px;
  /* background-color: rgb(152, 110, 207);/ */
  background-color: rgb(138, 123, 123);
  position: absolute;
  top: 47%;
  left: 16%;
  border-radius: 20px;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  color: white;
}

.show-modal.active {
  display: flex;
}