* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(95, 76, 114);
}

.container {
  width: 300px;
  height: 600px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 10px auto;
  position: relative;
  background-color: rgba(152, 110, 207, 0.418);
}

.top-section {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.bottom-section {
  border-radius: 30px;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.text-content {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 10px 0;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-field {
  padding: 3px 5px;
  width: 250px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
}

.submit-con {
  margin-top: 15px;
}

.create-password {
  text-decoration: none;
  padding: 7px 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(35, 36, 110);
  color: white;
}

.errors {
  font-size: 11px;
  color: red;
}
