* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
}

.phone-container {
  width: 300px;
  height: 600px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.main-content-container {
  /* background-image: url('../Assets/shirtless-sporty-male-holding-barbell-weights-isolated-grey-background.jpg'); */
  background-image: url('../trueAssets/who\ are\ you\ registering\ as.jpg');
  background-size: 100% 260px;
  background-repeat: no-repeat;
  display: flex;  
  width: 100%;
  height: 100%;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}


.text-content {
  width: 100%;
  height: 65%;
  background-color: white;
  border-radius: 30px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 40px;
  gap: 40px;
  padding: 30px 10px;
}

.content-header {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: center;
}

.content-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  width: 150px;
  padding: 5px 8px;
  border-radius: 30px;
  border: none;
  background-color: rgb(80, 0, 117);
  color: white;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
}

.design-logo {
  width: 100%;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  opacity: 0.4;
}

#Fitmap-Logo {
  width: 180px;
  height: 120px;
}