* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(95, 76, 114);

}

.phone-container {
  width: 300px;
  height: 600px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

/* Full Screen Container */
.full-screen-image-con {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-con {
  height: 100%;
}

#timeout-img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

#intro-logo {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 45%;
  left: 30%;
}

.full-screen-image-con.active{
  display: flex;
}

/* Full Screen Container */

/* Main Content Container */
.main-content-container {
  background-image: url('../book\ a\ gym\ resize.jpg');
  background-size: 290px 500px;
  background-repeat: no-repeat;
  display: none;  
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.text-content {
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 30px;
  margin-top: 300px;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.text-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  gap: 10px;
  margin-bottom: 20px;
  color: #000;
}

.header {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
}

.th-text {
  font-size: 14px;
  font-weight: 400;
}

.circles {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(87, 0, 128);
  opacity: 0.6;
}

.circle.enabled {
  background-color: rgb(80, 0, 117);
  opacity: 1;
}

.next-btn-con {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-btn {
  width: 150px;
  padding: 5px 8px;
  border-radius: 30px;
  border: none;
  background-color: rgb(80, 0, 117);
  color: white;
  cursor: pointer;
}


.main-content-container.active {
  display: flex;
}




/* Main Content Container */
