* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(95, 76, 114);
}

.container {
  width: 300px;
  height: 600px;
  border: 6px solid black;
  border-radius: 40px;
  margin: 10px auto;
  position: relative;
  background-color: rgba(152, 110, 207, 0.418);
  position: relative;
}

.top-section {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('../trueAssets/IMG-20250923-WA0063.jpg');
  background-size: 300px 150px;
  background-repeat: no-repeat;
}

.bottom-section {
  border-radius: 30px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: white;
  margin-top: -60px;
}

.text-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
  margin-top: 30px;
  font-size: 15px;
}

.input-field {
  padding: 10px 5px;
  width: 250px;
  outline: none;
  border-radius: 10px;
  border: 2px solid grey;
}

span {
  font-size: 9px;
  color: red;
}

.submit {
  text-decoration: none;
  padding: 7px 50px;
  border-radius: 30px;
  border: none;
  background-color: rgb(35, 36, 110);
  color: white;
  cursor: pointer;
  width: 70%;
}

.show-modal {
  display: none;
  width: 200px;
  height: 150px;
  background-color: greenyellow;
  position: absolute;
  top: 25%;
  left: 16%;
  border-radius: 20px;
  border: 1px solid red;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}

.show-modal.active {
  display: flex;
}